__pycache__
.venv/
__pycache__/
*.pyc
.env
*.db
.venv/
venv/
ENV/
env/
.env
.vscode/
chroma_db/
./chroma_db/
*.db
*.sqlite3
__pycache__/
*.pycz
*.pyo
*.pyd
.Python
.DS_Store
Thumbs.db
*.pyc
chroma_db/
__pycache__/
.python-version
pyproject.toml
README.md
requirements.txt
uv.lock
